@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  --background-color: #f0f0f0;
  --sub-title: #4d4d4d;
  --primary-color: #000;
  --blue: #024bff;
  --font: "DM Sans", sans-serif;
  --heading: 58px;
  --sub-heading: 44px;
  --paragraph: 16px;
  --white:#fff
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

ul {
  list-style: none;
}
p {
  font-weight: 500;
  color: #4d4d4d;
}

a {
  text-decoration: none;
  color: inherit;
}
.row {
  margin: 0px !important;
}
.color-title {
  color: var(--blue);
  font-weight: 500;
  text-transform: uppercase;
}
.community {
  border: 1px solid #e3e3e3;
  padding: 1.5rem;
  border-radius: 25px;
}
.MuiButtonBase-root {
  font-size: 13px !important;
}
.content-privacy ul{
  list-style-type: disc !important;

}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: #70505029;
}
